go.sum

main

testLog.log

/scripts/db_operations/d_db

/scripts/db_operations/q_db

database.log

tmp

assets/public

.air.conf

.vscode

server/gateway_serv/gateway/assets

server/gateway_serv/gateway/gateway

server/base_serv/user/user

server/base_serv/relation/relation

server/base_serv/interact/interact

server/base_serv/video/video

